@page
@model IndexModel
@{
    ViewData["Title"] = "ART EASY Studio";
}

<form method="post" action="./" id="Form1">
    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTIxMzYyNTMwMzBkZChkZ8Nq6Bi29R59TKxV3myPA8ZCGZ53CwFb168JsO67" />
    </div>

    <div class="aspNetHidden">

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="8D0E13E6" />
    </div>
    <div id="up-button">
        <div id="facade"></div>
        <img id="strelka" src="Images/strelka_up.png" />
        <img id="text" src="Images/text_up.png" />
    </div>
    <div id="wrapper">
        <nav>
            <a id="aboutLink">о студии</a>
            <a id="portfolioLink">проекты</a>
            <a id="contactsLink">контакты </a>
            <span class="phone">8 (909) 09-17-496</span>
            <a href="mailto:info@arteasy.ru" class="mail">
                &nbsp;
                <span id="mail_msg"></span>

            </a>
        </nav>
        <header>
            <section>
                <!--start gallery of image-->
                <div class="jcarousel-wrapper-images">
                    <h1 id="logo">
                        <a>
                            <img src="Images/logo.png" width="379" height="347" alt="Art Easy Studio">
                        </a>
                    </h1>
                    <div class="jcarousel">
                        <ul>
                            <li>
                                <img src="Images/Carousel/1.png" alt="Картинка для слайдера" height="347" width="933">
                            </li>
                            <li>
                                <img src="Images/Carousel/2.png" alt="Картинка для слайдера" height="347" width="933">
                            </li>
                            <li>
                                <img src="Images/Carousel/3.png" alt="Картинка для слайдера" height="347" width="933">
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="jcarousel-control-prev"></a><a href="#" class="jcarousel-control-next"></a>
                    <p class="jcarousel-pagination"></p>
                </div>
                <!--end gallery of image-->
            </section>
        </header>
        <section id="about">
            <div id="question1">

                <div id="AboutContentPlaceHolder_AboutTextPanel">

                    <div>
                        <p style="text-align: justify;">
                            Мы - это небольшая студия дизайна с неравнодушными творителями бытия современной рекламы, работающая уже более 7 лет.&nbsp; Дизайн в нашем понимании &ndash; это не просто красивая картинка, соответствующая техническому заданию, а инструмент направленного действия. При работе над каждым проектом мы опираемся не только на свой богатый опыт и сладкий вкус, но и учитываем психологические особенности восприятия визуальной информации, подсознательные мотивы поведения людей, лабораторных мышей и тихоокеанских дельфинов в момент весеннего солнцестояния.
                        </p>
                    </div>
                </div>


            </div>
            <div id="about-addition">
                <div id="about-header">
                </div>
                <p>
                    <strong>ART EASY <span style="color:#0998fc">Studio</span></strong> - это студия с дизайнерскими наклонностями,
                    рекламным характером и экспериментальным настроением.
                    Наши помощники: солнце, душа и книга по когнитивной психологии.
                </p>
                <p>
                    Продукция, дизайн которой мы делаем чаще всего: многостраничные
                    каталоги, буклеты, лифлеты, квартальные календари, афиши,
                    биллборды, вывески, баннеры, сертификаты, визитки, логотипы,
                    открытки, флаеры, рекламные стойки и тэдэ и тэпэ.
                </p>
                <p>
                    Мы создаем дизайн как для крупных промышленных заводов,
                    так и для небольших компаний, только начинающих своё дело.
                    Мы не делаем дизайн ради дизайна. У нас не работает толпа
                    обезьянок, обученных работать на скорость. Если заказчик
                    не может ответить на вопрос, зачем ему огромный 100 метровый
                    баннер с изображением милых плюшевых мишек и целующихся кукол
                    барби - в таком случае, вероятнее всего, это не наш заказчик.
                    Мы - самокритичны. Работая над вариантами дизайна, мы стараемся
                    не показывать “сырой” промежуточный результат.
                </p>
                <p>
                    Перед тем как приступить к работе, составляется психологический
                    портрет целевого потребителя, проводятся исследования
                    рынка и конкурентов...
                </p>
                <p>
                    Думать, чувствовать и видеть как потребитель. Оценивать
                    результат в абстрагированном сознании. Анализировать
                    и тестировать эскизы на фокус группах. Всё это важные
                    составляющие эффективной рекламы.
                </p>
                <div id="about-footer"></div>
            </div>

            <div class="about">
                <a class="more">
                    Подробнее<br>
                    о нас
                </a>
            </div>
        </section>
        <section id="portfolio" name="portfolio">
            <h2>ПОРТФОЛИО</h2>
            <div id="secondary-menu">
                <a id="branding">БРЕНДИНГ<div class="strelka"></div></a>
                <a id="external-advertising">НАРУЖНАЯ РЕКЛАМА<div class="strelka"></div></a>
                <a id="polygraphy">Полиграфия<div class="strelka"></div></a>
                <a id="digital">DIGITAL<div class="strelka"></div></a>
                <a id="showall" class="more">Показать всё</a>
            </div>

            <div class="anonce">
                <span></span>
                <div id="photos"></div>
                <div class="clear-div"></div>
                <a class="more">Показать всё</a>
            </div>
        </section>
        <section id="partners-logo">
            <h2>НАШИ КЛИЕНТЫ</h2>
            <div class="clear-div"></div>
            <div class="jcarousel-bg">
                <div class="jcarousel-wrapper">
                    <div class="jcarousel">
                        <ul>
                            <li>
                                <a><img id="fors" src="Images/Logos/fors.png" alt=""></a>
                                <a><img src="Images/Logos/smp-bank.png" alt=""></a>
                                <a><img src="Images/Logos/ariant.png" alt=""></a>
                                <a><img src="Images/Logos/pivovarnya.png" alt=""></a>
                                <a><img src="Images/Logos/ld.png" alt=""></a>
                            </li>
                            <li>
                                <a><img src="Images/Logos/avtotransport.png" alt=""></a>
                                <a><img src="Images/Logos/philinsoft.png" alt=""></a>
                                <a><img src="Images/Logos/satka-travel.png" alt=""></a>
                                <a><img src="Images/Logos/temper.png" alt=""></a>
                            </li>
                            <li>
                                <a><img src="Images/Logos/escobar.png" alt=""></a>
                                <a><img src="Images/Logos/avtobus-park.png" alt=""></a>
                                <a><img src="Images/Logos/polytrans.png" alt=""></a>
                                <a><img src="Images/Logos/vuz-bank.png" alt=""></a>
                                <a><img src="Images/Logos/mondial.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="jcarousel-control-prev"></a><a href="#" class="jcarousel-control-next"></a>
                </div>
            </div>
            <span id="question3"></span>
        </section>
        <section id="contacts">
            <div class="contact">
                <h2>Наши контакты</h2>
                <p>г. Челябинск </p>
                <b>8 (909) 09-17-496</b> <span>info@arteasy.ru</span>
                <a href="https://vk.com/arteasystudio" class="vk" target="_blank">
                    Вступайте в нашу группу
                    <br />
                    <strong>ВКОНТАКТЕ</strong>
                </a>
            </div>
            <div class="form">
                <input id="name-input" type="text" placeholder="Ваше имя" class="short" />
                <input id="email-input" type="email" placeholder="E-mail" class="short no-margin" />
                <input id="subject-input" type="text" placeholder="Тема сообщения" />
                <textarea id="msg-input" placeholder="Сообщение"> </textarea>
                <div class="clear-div"></div>

                <div class="send-btn">Отправить</div>

            </div>
        </section>
        <div class="push"></div>
    </div>
    <footer>
        <ul>
            <li>Студия дизайна <a href="/" class="art-easy"></a>&copy;2015 | Все права защищены</li>
            <li><a href="http://philinsoft.com/" class="philin-studio"></a>Разработка сайта</li>
        </ul>
    </footer>

</form>


